<h1>Questions#ask</h1>
<p>Go go go in app/views/questions/ask.html.erb</p>

<!-- <form action="/answer"> -->

  <form action="/answer">
  <input type="text" name="question" placeholder="Your question?">
  <input type="submit" value="Ask!">
</form>


